html{
    font-size: 22px;
}
body{
    background-color: #22577a;
    color: #c7f9cc;
}
a{
    color: aliceblue;
}
a:visited{
    color: #80ed99;
}
a:hover, a:active{
    color: #eee;
}
table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    background-color: #38a3a5;
}
input, textarea {

    background-color : #c7f9cc; 
  
  }